<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="suite">
  <test name="Test">
  <parameter name ="BrowserName" value="chrome"/>
    <classes>
    
    <class name="com.assignment.testcase.LogInPageTest"/>
    
    
    <class name="com.assignment.testcase.GroceryTest"/>
    <class name="com.assignment.testcase.GroceryPincodeTest"/>
    <class name="com.assignment.testcase.GroceryToHomeTest"/>
    <class name="com.assignment.testcase.ForwardKeyTest"/>
    <class name="com.assignment.testcase.BackwardKeyTest"/>
    <class name="com.assignment.testcase.BestofelectronicsViewAllTest"/>
    <class name="com.assignment.testcase.BestofelectronicsViewAllToHomeTest"/>
    <class name="com.assignment.testcase.WinterEssentialsViewAllTest"/>
    <class name="com.assignment.testcase.WinteressentialsViewAllToHomeTest"/>
    <class name="com.assignment.testcase.MoreTest"/>
    <class name="com.assignment.testcase.SearchBarTest"/>
    <class name="com.assignment.testcase.InputInSearchBarTest"/>
    <class name="com.assignment.testcase.SearchBarSubmitTest"/>
    
    
    
    
    <class name="com.assignment.testcase.ApplianceTest"/>
    <class name="com.assignment.testcase.ViewCartTest"/>
    <class name="com.assignment.testcase.ViewCartToHomeTest"/>
    
    <class name="com.assignment.testcase.LogOutTest"/>
    
    
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
